<h2 class="static-blurb-header contacts-blurb-header">Emory Libraries Service Contacts</h2>
<%= render 'static/contact/assistance_link', link: 'https://libraries.emory.edu/services/purchase-request/index.html', link_text: t('static.contact.links.purchase') %>
<%= render 'static/contact/assistance_link', link: 'https://emory.libanswers.com/', link_text: t('static.contact.links.ask_lib') %>
<%= render 'static/contact/assistance_link', link: 'https://libraries.emory.edu/tools/report-issues-with-ejournals.html', link_text: t('static.contact.links.ask_ejournals') %>
<%= render 'static/contact/assistance_link', link: 'https://libraries.emory.edu/contact/subject-librarian-directory.html', link_text: t('static.contact.links.find_sub_lib') %>
<%= render 'static/contact/assistance_link', link: 'https://libraries.emory.edu/services/access-course-reserves.html', link_text: t('static.contact.links.course_reserves') %>
<%= render 'static/contact/assistance_link', link: 'https://libraries.emory.edu/services/submit-ill-request.html', link_text: t('static.contact.links.ill_request') %>