<div class=" col-lg-4">
  <div class="explore-card contact-explore">
    <span class="explore-header"><%= t('static.contact.explore.title') %></span>
    <ul class="explore-links">
      <%= render 'static/contact/card_link_li', link_text: t('static.contact.explore.links.policies'), link: "https://libraries.emory.edu/about/policies/index.html" %>
      <%= render 'static/contact/card_link_li', link_text: t('static.contact.explore.links.using_lib'), link: "https://libraries.emory.edu/using-the-library/index.html" %>
      <%= render 'static/contact/card_link_li', link_text: t('static.contact.explore.links.lib_hours'), link: "https://libraries.emory.edu/hours/index.html" %>
      <%= render 'static/contact/card_link_li', link_text: t('static.contact.explore.links.contact_lib_staff'), link: "https://libraries.emory.edu/contact/index.html" %>
    </ul>
  </div>
</div>