<%# Overrides partial of same name from blacklight_advanced_search (7.0.0) %>
<%#
  Mimics the behavior of Penn State's Blacklight Catalog by using bootstrap-select 
  to make the select more searchable and interactive.
  Also incorporates the manual input field for Publication Date range from Penn, 
  as well.
%>
<% facets_from_request(facet_field_names, @response).each do |display_facet| %>
  <% if display_facet.items.present? %>
    <div class="form-group advanced-search-facet">
      <%= label_tag display_facet.name.parameterize, class: 'col-sm-3 control-label' do %>
        <%= facet_field_label(display_facet.name) %>
      <% end %>

      <div class="col-sm-9">
        <%= content_tag(:select,
                        multiple: true,
                        name: "f_inclusive[#{display_facet.name}][]",
                        id: display_facet.name.parameterize,
                        class: 'form-control selectpicker',
                        data: { 'live-search': 'true', placeholder: "Type or select #{facet_field_label(display_facet.name).downcase.pluralize}", 'size': '6' }) do %>
          <% display_facet.items.each do |facet_item| %>
            <%= content_tag :option, value: facet_item.value, selected: facet_value_checked?(display_facet.name, facet_item.value) do %>
              <%= facet_display_value(display_facet.name, facet_item.label) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<% unless @collection_ssim_facet&.empty? %>
  <div class="form-group advanced-search-facet">
    <%= label_tag "collection_ssim".parameterize, class: 'col-sm-3 control-label' do %>
      <%= facet_field_label("collection_ssim") %>
    <% end %>

    <div class="col-sm-9">
      <%= content_tag(:select,
                      multiple: true,
                      name: "f_inclusive[collection_ssim][]",
                      id: "collection_ssim".parameterize,
                      class: 'form-control selectpicker',
                      data: { 'live-search': 'true', placeholder: "Type or select #{facet_field_label("collection_ssim").downcase.pluralize}", 'size': '6' }) do %>
        <% @collection_ssim_facet&.each do |facet_item| %>
          <%= content_tag :option, value: facet_item, style: "white-space: normal;", selected: facet_value_checked?("collection_ssim", facet_item) do %>
            <%= facet_display_value("collection_ssim", facet_item) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%# Publication Date is a range input %>
<% pub_date = facet_configuration_for_field('pub_date_isim') %>
<div class="form-group advanced-search-facet row">
  <%= label_tag pub_date.field.parameterize, class: 'col-sm-3 control-label-date' do %>
    <%= pub_date.label %>
  <% end %>
  <div class="col-sm-8 range_limit">
    <label for="range_pub_date_start_sort_begin" class="sr-only">Publication date range (starting year)</label>
    <%= render_range_input(pub_date.field, :begin) %> –
    <label for="range_pub_date_start_sort_end" class="sr-only">Publication date range (ending year)</label>
    <%= render_range_input(pub_date.field, :end) %>
  </div>
</div>
