<%# [Overwrite Blacklight-Advanced-Search-v7.0.0] - Changes verbiage as per requirements %>
<div class='card card-default'>
  <div class="card-body">
    <%= tag.h4(t('blacklight_advanced_search.search_tips.title'), class: 'card-title') %>
    <ul class="advanced-help">
      <%= tag.li t('blacklight_advanced_search.search_tips.lis.match_all') %>
      <%= tag.li t('blacklight_advanced_search.search_tips.lis.match_any') %>
      <%= tag.li t('blacklight_advanced_search.search_tips.lis.combine') %>
      <%= tag.li t('blacklight_advanced_search.search_tips.lis.phrase') %>
      <%= tag.li t('blacklight_advanced_search.search_tips.lis.require') %>
      <%= tag.li t('blacklight_advanced_search.search_tips.lis.exclude') %>
      <%= tag.li t('blacklight_advanced_search.search_tips.lis.boolean') %>
      <%= tag.li t('blacklight_advanced_search.search_tips.lis.trunc_wildcard') %>
     <li>View our <%= link_to "search guide", "https://libraries.emory.edu/tools/discovere/search-discovere.html", target: "_blank" %> for more search tips.</li>
   </ul>
  </div>
</div>
