<div class="footer-branding-dropdown">
  <select aria-label="Locations (Footer)" 
          name="Locations (Footer)"
          class="footer-branding-dropdown-menu"
          onchange="redirect(this)">
    <option value=""><%= t('blacklight.footer.dropdown_links.default') %></option>
    <option value="https://business.library.emory.edu/"><%= t('blacklight.footer.dropdown_links.business') %></option>
    <option value="https://ats.emory.edu/sdl/computing-center/index.html">
      <%= t('blacklight.footer.dropdown_links.computing_center') %>
    </option>
    <option value="https://health.library.emory.edu/">
      <%= t('blacklight.footer.dropdown_links.health_sciences') %>
    </option>
    <option value="http://library.law.emory.edu/"><%= t('blacklight.footer.dropdown_links.law') %></option>
    <option value="http://libraryservicecenter.org/"><%= t('blacklight.footer.dropdown_links.lsc') %></option>
    <option value="https://libraries.emory.edu/music-media/index.html">
      <%= t('blacklight.footer.dropdown_links.music_media') %>
    </option>
    <option value="https://oxford.library.emory.edu/"><%= t('blacklight.footer.dropdown_links.oxford') %></option>
    <option value="https://rose.library.emory.edu/"><%= t('blacklight.footer.dropdown_links.rose') %></option>
    <option value="https://libraries.emory.edu/science-commons/index.html">
      <%= t('blacklight.footer.dropdown_links.science_commons') %>
    </option>
    <option value="http://pitts.emory.edu/"><%= t('blacklight.footer.dropdown_links.theology') %></option>
    <option value="https://libraries.emory.edu/woodruff/index.html">
      <%= t('blacklight.footer.dropdown_links.woodruff') %>
    </option>
  </select>
</div>
