<%# Overrides partial of same name from blacklight (7.4.1) %>
<%#
  Removes the standard search bar from the Advanced Search page.
%>
  <nav class="navbar navbar-expand-md navbar-light bg-white topbar" role="navigation"> <div class="<%= container_classes %>">
    <div class="col-md-12">
      <div class="row non-mobile-links">
        <div class="non-collapse-navbar">
          <%= render 'shared/static_links', mobile: false %>
        </div>
      </div>
      <div class="row justify-content-between branding-row header-main">
        <div class="branding-header">
          <div class="branding-header logo">
            <%= link_to root_path, class: "branding-header-badge " do %>
              <div class="logo"><%= inline_svg_tag("shield.svg", alt: "Emory Library") %></div> 
          <% end %>
        </div>
          <div class="branding-header">
            <div class="row ml-0">
              <div>
                <%= link_to "Emory University", "https://emory.edu/", class: "branding-header organization" %>
              </div>
            </div>
            <div class="row ml-0">
              <div>
                <%= link_to application_name, root_path, class: "branding-header division" %>
              </div>
            </div>
          </div>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
          <%= render 'shared/static_links', mobile: true %>
          <%= render 'shared/user_util_links' %>
        </div>
      </div>
    </div>
  </div>
</nav>

<% if !request.fullpath.include?('/advanced') %>
  <div class="navbar-search navbar navbar-light bg-light mb-3" role="navigation">
    <div class="<%= container_classes %>">
      <%= render_search_bar  %>
    </div>
  </div>
<% end %>
