<% holdings_available = doc_avail_values.present? && (doc_avail_values[:online_available] || document.url_fulltext.present? || doc_avail_values[:physical_holdings].any?) %>

<% if holdings_available %>
  <% if doc_avail_values[:online_available] || document.url_fulltext.present? %>
    <%= tag.span('Online', class: "btn rounded-0 mb-2 online-avail-label avail-default") %>
    <% if !doc_avail_values[:online_available] %>
      <%= render_online_link_span(document.id) %>
      <%= render 'shared/document_url_fulltext_modal', document: document %>
    <% else %>
      <span class="online-avail-button">
        <%= link_to('CONNECT', service_page_link, 
              target: "_blank", class: "btn btn-md rounded-0 mb-2 btn-outline-primary avail-link-el") %>
      </span>
    <% end %>
  <% end %>
  <% if doc_avail_values[:physical_holdings].empty? && document.bound_with? %>
    <%= tag('br') if doc_avail_values[:online_available] || document.url_fulltext.present? %>
    <%= phys_label_span('Check Holdings') %>
    <%= tag.span(
          tag.a('LOCATE/REQUEST', href: service_page_link, target: '_blank',
            class: "btn btn-md rounded-0 btn-outline-primary avail-link-el",
            rel: 'noopener noreferrer'),
          class: "phys-avail-button bound-with-link"
        ) %>
  <% else %>
    <%= tag('br') if availability_present?(doc_avail_values, document) %>
    <%= render_physical_avail_spans(doc_avail_values, document.id) %>
  <% end %>
<% else %>
  <span class = "btn rounded-0 phys-avail-label avail-unknown">Contact Us</span>
  <span class = "phys-avail-button bound-with-link">
    <%= tag.a('CONTACT',
      href: "https://emory.libwizard.com/f/blacklight?refer_url=#{request.original_url}",
      target: '_blank',
      class: "btn btn-md rounded-0 btn-outline-primary avail-link-el",
      rel: 'noopener noreferrer')
    %>
  </span>
<% end %>
