<% @page_title = "#{t('static.about.title')} - #{application_name}" %>
<% title = t('static.about.title'); abbr = title.split(' ').first(3).join(' ') + '...' %>

<%= render 'catalog/breadcrumbs', crumb_hashes: [{ curr_page: true, abbr: abbr, link: '/about', title: title }]
%>
<div class="row static-heading-row about">
  <%= render 'static/static_heading', 
              title: title, 
              subheading: t('static.about.subheading')
  %>
</div>
<div class="row static-body about">
  <div class="col-lg-8 about-blurbs">
    <%= render 'static/static_content_blurbs', 
                    blurb_header_klass: " technology-header",
                    blurb_header: t('static.about.technology.blurb_header'),
                    blurb_body_klass: " technology-blurb",
                    blurb: t('static.about.technology.blurb').html_safe
    %>
    <%= render 'static/static_content_blurbs', 
                    blurb_header_klass: " accessibility-header",
                    blurb_header: t('static.about.accessibility.blurb_header'),
                    blurb_body_klass: " accessibility-blurb",
                    blurb: t('static.about.accessibility.blurb').html_safe
    %>
    <%= render 'static/static_content_blurbs',
                    blurb_header_klass: " help-header",
                    blurb_header: t('static.about.help.blurb_header'),
                    blurb_body_klass: " help-blurb",
                    blurb: "Please visit our <a href=\"https://blackcat-test.library.emory.edu/contact\">Contact page</a> for more information about Emory Libraries collections, catalog, electronic resources, and access. You can also reach out via our feedback form or visit our project wiki.".html_safe
    %>
  </div>
      <div class=" col-lg-4">
        <div class="explore-card about-explore">
          <span class="explore-header">Explore</span>
          <ul class="explore-links">
            <li class="explore-link-item"><%= link_to t('static.about.explore.materials_link_text'), "https://libraries.emory.edu/materials/index.html", class: "explore-link" %></li>
            <li class="explore-link-item"><%= link_to t('static.about.explore.research_link_text'), "https://guides.libraries.emory.edu/main", class: "explore-link" %></li>
            <li class="explore-link-item"><%= link_to t('static.about.explore.contact_link_text'), " https://blackcat-test.library.emory.edu/contact", class: "explore-link" %></li>
          </ul>
        </div>
      </div>
</div>
