<% @page_title = "#{t('contact')} - #{application_name}" %>
<% title = I18n.t('contact'); abbr = nil %>

<%= render 'shared/breadcrumbs', crumb_hashes: [{ curr_page: true, abbr: abbr, link: '/contact', title: title }] %>
<div class="row static-heading-row contact">
  <%= render 'static/static_heading', title: title, subheading: t('static.contact.subheader') %>
</div>
<div class="row static-body contact">
  <div class="col-lg-8 contact-blurbs">
    <h2 class="static-blurb-header feedback-blurb-header"><%= t('static.contact.headers.feedback') %></h2>
    <p class="static-blurb-body feedback-blurb">
      <a href='https://emory.libwizard.com/f/blacklight' target="_blank" class="static-blurb-link">
        <%= t('static.contact.links.feedback') %>
      </a>
    </p>

    <%= render 'static/contact/assistance' %>
  </div>
  <%= render 'static/contact/explore_card' %>
</div>
