<% @page_title = "#{t('help.title')} - #{application_name}" %>
<% title = t('help.title'); abbr = title.split(' ').first(3).join(' ') + '...' %>

<%= render 'catalog/breadcrumbs', crumb_hashes: [{ curr_page: true, abbr: abbr, link: '/help', title: title }]
%>
<div class="row static-heading-row about">
  <%= render 'static/static_heading', 
              title: title, 
              subheading: t('help.subheading').html_safe
  %>
</div>
  <div class="row static-body help">
    <div class="col-lg-8 about-blurbs">
      <%= render 'static/static_content_blurbs', 
                    blurb_header_klass: " dlp-blurb-header",
                    blurb_header: "",
                    blurb_body_klass: " dlp-blurb",
                    blurb: "".html_safe
    %>
      <%= render 'static/static_content_blurbs', 
                    blurb_header_klass: " dlp-blurb-header",
                    blurb_header: "",
                    blurb_body_klass: " dlp-blurb",
                    blurb: "".html_safe
    %>
  </div>
    <div class=" col-lg-4">
      <div class="explore-card about-explore">
        <span class="explore-header">Explore</span>
        <ul class="explore-links">
          <li class="explore-link-item"><%= link_to "Contact Us", contact_path, class: "explore-link" %></li>
          <li class="explore-link-item"><%= link_to "Samvera Digital Repository Framework", "https://samvera.org", class: "explore-link" %></li>
        </ul>
      </div>
    </div>
  </div>