<div class="row" id="data-alternate-catalog">
  <div class="col-12 col-centered">
    <div class="card-deck">
    <div class="border-resources card mb-3">
      <div class="card-header bg-resources resources-header"></div>
      <div class="card-body">
        <div class="lightbulb">
        <span class="rounded-lightbulb">
        <%= image_tag("lightbulb.svg", :height => "32", :width => "32") %>
        </span>
        </div>
        <p class="text-other-resources"><%= t('blacklight.search.alternate_catalog.title') %></p>
        <h3 class="bigtext-other-resources"><%= t('blacklight.search.alternate_catalog.question') %></h3>
        <p id="results-p">
          <%= t('blacklight.search.alternate_catalog.outside_link') %>
          <a href="<%= articles_plus_url_builder(search_state) %>" id="articles-plus-url">
            <span class="alternate-catalog-count"></span>
            <%= t('blacklight.search.alternate_catalog.inside_link') %>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
</div>