<% doc_presenter = show_presenter(document) %>
<% fields = presenter.new(document: doc_presenter.fields_to_render).terms %>
<% if fields.length > 0 %>
  <h4 class="blacklight-<%= title %> col-md-12"><%= title %></h4>
  <br>
  <dl class="row dl-invert document-metadata">
    <% fields.each do |field_name, field| %>
      <dt class="blacklight-<%= field_name.parameterize %> col-md-3"><%= render_document_show_field_label document, field: field_name %></dt>
      <dd class="blacklight-<%= field_name.parameterize %> col-md-9<%= " #{myclass}" %>"><%= doc_presenter.field_value field %></dd>
    <% end %>
  </dl>
<% end %>