<% # [Blacklight-overwrite v7.33] Overwrites the way fields get displayed on item show page %>
<%= render(MainMetadataComponent.new(fields: document_presenter(document).field_presenters, show: true)) %>

<% # New partial for request options %>
<div id="show-request-options-container"></div>
<%= tag.h2 t('catalog.show.more_details_header'), class: "section-title more-details-header" %>
<%= render 'catalog/show_tools/metadata_block_collapsible', 
    document: document, 
    presenter: AddlTitlesPresenter, 
    title: t('catalog.show.additional_title'), 
    collapse_link_class: 'additional-titles' %>
<%= render('catalog/show_tools/metadata_block', 
      document: document, presenter: RelatedNamesPresenter, title: t('catalog.show.related_names')) %>
<%= render('catalog/show_tools/metadata_block', 
      document: document, presenter: SubjectsGenrePresenter, title: t('catalog.show.subjects_genre')) %>
<%= render('catalog/show_tools/metadata_block', 
      document: document, presenter: DescriptionSummaryPresenter, title: t('catalog.show.description_summary')) %>
<%= render 'catalog/show_tools/metadata_block', document: document, presenter: AddlIdsPresenter, title: t('catalog.show.addl_ids') %>

<script type="text/javascript">
  gtag('event', '<%= document['library_ssim']&.first %>', {
    'event_category': 'holding_repository_view',
    'event_label': '<%= document['title_main_display_ssim'].first %>'
  });

  gtag('event', '<%= document['format_ssim']&.first %>', {
    'event_category': 'format_view',
    'event_label': '<%= document['title_main_display_ssim'].first %>'
  });

  $.ajax({
    type: "GET",
    data: {
      document_id: "<%= document.id %>"
    },
    url: "/availability_indicator",
    cache: false,
    success: function(html){
      $("#show-request-options-container").append(html);
    }
  });
</script>