<% # [Blacklight-overwrite v7.33] Overwrites the way fields get displayed on item show page %>
<%= render(MetadataComponent.new(
  config: 'main_metadata.yml',
  fields: document_presenter(document).field_presenters,
  show: true
)) %>

<% # New partial for request options %>
<div id="show-request-options-container"></div>
<%= tag.h2 t('catalog.show.more_details_header'), class: "section-title more-details-header" %>

<%= render(MetadataComponent.new(
  config: 'addl_titles.yml',
  fields: document_presenter(document).field_presenters,
  title: t('catalog.show.additional_title'),
  show: true
)) %>

<%= render(CollapsibleMetadataComponent.new(
  config: 'addl_titles_collapsible.yml',
  fields: document_presenter(document).field_presenters,
  show: true,
  collapse_link_class: 'additional-titles')) %>

<%= render(MetadataComponent.new(
  config: 'related_names.yml',
  fields: document_presenter(document).field_presenters,
  title: t('catalog.show.related_names'),
  show: true
)) %>

<%= render(MetadataComponent.new(
  config: 'subjects_genre.yml',
  fields: document_presenter(document).field_presenters,
  title: t('catalog.show.subjects_genre'),
  show: true
)) %>

<%= render(MetadataComponent.new(
  config: 'description_summary.yml',
  fields: document_presenter(document).field_presenters,
  title: t('catalog.show.description_summary'),
  show: true
)) %>

<%= render(MetadataComponent.new(
  config: 'addl_ids.yml',
  fields: document_presenter(document).field_presenters,
  title: t('catalog.show.addl_ids'),
  show: true
)) %>

<script type="text/javascript">
  gtag('event', '<%= document['library_ssim']&.first %>', {
    'event_category': 'holding_repository_view',
    'event_label': '<%= document['title_main_display_ssim'].first %>'
  });

  gtag('event', '<%= document['format_ssim']&.first %>', {
    'event_category': 'format_view',
    'event_label': '<%= document['title_main_display_ssim'].first %>'
  });

  $.ajax({
    type: "GET",
    data: {
      document_id: "<%= document.id %>"
    },
    url: "/availability_indicator",
    cache: false,
    success: function(html){
      $("#show-request-options-container").append(html);
    }
  });
</script>
