<div class="where-to-find-table">
  <div class="row justify-content-between">
    <div class="col-sm-4">
      <%= tag.h2 t('catalog.show.find_it_header'), class: "section-title find-it-header" %>
    </div>
    <div class="col-sm-4 request-options">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Request
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% if document.hold_requestable? %>
          <%= link_to "Hold request", new_hold_request_path(hold_request: {mms_id: document.id, title: document['title_display_tesim']&.first}), class: "dropdown-item" %>
      <% end %>
      </div>
    </div>
  </div>

  <% if document.physical_holdings %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><%= t('blacklight.availability.at_library') %></th>
          <th scope="col"><%= t('blacklight.availability.call_number') %></th>
          <th scope="col"><%= t('blacklight.availability.status') %></th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% document.physical_holdings(current_or_guest_user).each.with_index(1) do |holding, index| %>
          <tr id="physical-holding-<%= index.to_s %>">
            <td><%= colonizer(holding[:library][:label], holding[:location][:label]) %></td>
            <td><%= holding[:call_number] %></td>
            <td><a href="#" class="toggle-table"><% if holding[:availability][:availability_phrase] != "check_holdings" %>
                <%= pluralize(holding[:availability][:copies], 'copy') +
                      ", #{holding[:availability][:available]} available" +
                      ", " + pluralize(holding[:availability][:requests], 'request')
                  %>
              <% else %>
                Check holdings
              <% end %></a>
                <table class="table toggled-table" style="display: none;">
                  <thead>
                    <tr>
                      <th scope="col">barcode</th>
                      <th scope="col">type</th>
                      <th scope="col">policy</th>
                      <th scope="col">description</th>
                      <th scope="col">status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% holding[:items_by_holding].each do |item| %>
                      <tr>
                        <td><%= item[:barcode] %></td>
                        <td><%= item[:type] %></td>
                        <td><%= item[:policy] %></td>
                        <td><%= item[:description] %></td>
                        <td><%= item[:status] %></td>
                      </tr>
                    <% end %>

                  </tbody>
                </table>
            </td>
            <td></td>
          </tr>

        <% end %>
      </tbody>
  </table>
  <% end %>
  <% if document.online_holdings %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><%= t('blacklight.availability.online') %></th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% document.online_holdings.each do |holding| %>
          <tr>
            <td><%= t('blacklight.availability.access_online') %></td>
            <td><%= link_to(holding[:label], holding[:url]) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <!-- TODO: Change the link below to the production url for Alma if we continue to use this -->
  <%= link_to("Services page", "#{ENV["ALMA_BASE_SANDBOX_URL"]}/discovery/openurl?institution=#{ENV["INSTITUTION"]}&vid=#{ENV["INSTITUTION"]}:blacklight&rft.mms_id=#{document.id}") %>
</div>
