<% state = search_state.to_h %>
<% active_letter = active_letter(state) %>

<% if request.url.include?('?') && !request.url.include?('/advance') && !request.url.include?('/bookmarks') && !@homepage %>
  <nav class="alpha-filter first-main-char-nav">
    <ol class="first-main-char-ol">
      <li class="page-item first-main-char-descriptor"><%= t('blacklight.search.first_char.label') %></li>
      <% ("A".."Z").each do |letter| %>
        <li class="page-item <%= 'active' if active_letter == letter %>">
          <%= link_to(letter, title_starts_with_search_params(state: state, letter: letter), class: 'page-link') %>
        </li>
      <% end %>
      <li class="page-item <%= 'active' if active_letter.blank? %>">
        <%= link_to t('blacklight.search.facets.all'), title_starts_with_search_params(state: state), class: 'page-link' %>
      </li>
    </ol>
  </nav>
<% end %>
