<%= tag.h1(t('hold_requests.title')) %>

<p>
  <strong><%= t('hold_requests.pickup_library') %></strong>
  <%= @hold_request.pickup_library %>
</p>
<p>
  <strong><%= t('hold_requests.hold_request_id') %></strong>
  <%= @hold_request.id %>
</p>
<p>
  <strong><%= t('hold_requests.comment') %></strong>
  <%= @hold_request.comment %>
</p>
