<div class="row accordion-row">
  <section class="accordion col-lg-12 col-centered">

    <div class="accordion-menu">
      <h2 class="accordion-title dropdown-header"><%= t 'blacklight.other_resources.accordion.header' %></h2>
      <div class="accordion-toggles">
        <button type="button" class="btn accordion-toggle-all collapsed" id="show-all">
          <%= t 'blacklight.other_resources.accordion.show_all' %>
        </button>
        <button type="button" class="btn accordion-toggle-all collapsed" id="hide-all">
          <%= t 'blacklight.other_resources.accordion.hide_all' %> <span id="separate-btn">|</span>
        </button>
      </div>
    </div>

    <div id="other-resources-panel" class="panel accordion-panel">
      <%= render('catalog/other_resources/accordion_panel',
            data_target: 'research-guides',
            panel_header: t('blacklight.other_resources.accordion.research_guides.header'),
            body_text: t('blacklight.other_resources.accordion.research_guides.body'),
            body_link: 'https://libraries.emory.edu/tools/research-guides.html') %>

      <%= render('catalog/other_resources/accordion_panel',
            data_target: 'digital-repository',
            panel_header: t('blacklight.other_resources.accordion.digital_repository.header'),
            body_text: t('blacklight.other_resources.accordion.digital_repository.body'),
            body_link: 'https://digital.library.emory.edu/') %>

      <%= render('catalog/other_resources/accordion_panel',
            data_target: 'etd-repository',
            panel_header: t('blacklight.other_resources.accordion.etd_repository.header'),
            body_text: t('blacklight.other_resources.accordion.etd_repository.body'),
            body_link: 'https://etd.library.emory.edu/') %>

      <%= render('catalog/other_resources/accordion_panel',
            data_target: 'openemory',
            panel_header: t('blacklight.other_resources.accordion.openemory.header'),
            body_text: t('blacklight.other_resources.accordion.openemory.body'),
            body_link: 'https://libraries.emory.edu/tools/open-emory.html') %>

      <%= render('catalog/other_resources/accordion_panel',
            data_target: 'course-reserves',
            panel_header: t('blacklight.other_resources.accordion.course_reserves.header'),
            body_text: t('blacklight.other_resources.accordion.course_reserves.body'),
            body_link: 'https://libraries.emory.edu/materials/course-reserves.html') %>

      <%= render('catalog/other_resources/accordion_panel',
            data_target: 'ill',
            panel_header: t('blacklight.other_resources.accordion.ill.header'),
            body_text: t('blacklight.other_resources.accordion.ill.body'),
            body_link: 'https://libraries.emory.edu/tools/illiad.html') %>
            
      <%= render('catalog/other_resources/accordion_panel',
            data_target: 'finding-aids',
            panel_header: t('blacklight.other_resources.accordion.finding_aids.header'),
            body_text: t('blacklight.other_resources.accordion.finding_aids.body'),
            body_link: 'https://findingaids.library.emory.edu/') %>
    </div>
  </section>
</div>
