<div class="border-resources card mb-3">
  <div class="card-header bg-resources resources-header"></div>
  <div class="card-body">
    <%= rounded_lightbulb %>
    <p class="text-other-resources"><%= t('blacklight.other_resources.card_descriptor.search_tool') %></p>
    <a href=<%= url %><%= ' target="_blank"' if new_page %>>
    <h3 class="bigtext-other-resources"><%= url_text %></h3>
    </a>
  </div>
</div>